[Unit]
Description=Renew KFCQuant TLS certificate periodically

[Timer]
OnCalendar=*-*-* 00,06,12,18:17:00
RandomizedDelaySec=600
Persistent=true

[Install]
WantedBy=timers.target
